@function icon($iconName, $color) {
  $iconList: (
    loading:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0' rx='3' ry='3' transform='rotate(-90 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.08333333333333333' rx='3' ry='3' transform='rotate(-60 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.16666666666666666' rx='3' ry='3' transform='rotate(-30 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.25' rx='3' ry='3' transform='rotate(0 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.3333333333333333' rx='3' ry='3' transform='rotate(30 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.4166666666666667' rx='3' ry='3' transform='rotate(60 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.5' rx='3' ry='3' transform='rotate(90 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.5833333333333334' rx='3' ry='3' transform='rotate(120 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.6666666666666666' rx='3' ry='3' transform='rotate(150 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.75' rx='3' ry='3' transform='rotate(180 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.8333333333333334' rx='3' ry='3' transform='rotate(210 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.9166666666666666' rx='3' ry='3' transform='rotate(240 50 50)'/%3E%3C/svg%3E",
    search:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 165 178'%3E%3Cdefs%3E%3Cstyle%3E .b%7Bfill:none;stroke:%23#{$color};stroke-linecap:round;stroke-linejoin:round;stroke-width:10px%7D %3C/style%3E%3C/defs%3E%3Ccircle class='b' cx='74' cy='80.5' r='61.5'/%3E%3Cline class='b' x1='117.5' y1='124' x2='152.5' y2='159'/%3E%3C/svg%3E",
    user:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 22 22'%3E%3Cpath fill='%23#{$color}' d='M11 2.867a2.8 2.8 0 1 1 .001 5.6 2.8 2.8 0 0 1 0-5.6Zm0 12c3.96 0 8.134 1.946 8.134 2.8v1.466H2.867v-1.466c0-.854 4.174-2.8 8.134-2.8ZM11 .333a5.332 5.332 0 0 0-5.333 5.334A5.332 5.332 0 0 0 11.001 11a5.332 5.332 0 0 0 5.333-5.333A5.332 5.332 0 0 0 11.001.333Zm0 12C7.44 12.333.335 14.12.335 17.667v4h21.333v-4c0-3.547-7.106-5.334-10.666-5.334Z'/%3E%3C/svg%3E",
    cart:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='m16.533 14 3.217-5.361v-2.21l-12 .055V4.5h-3.5v1h2.5v10.691c-.307.352-.5.806-.5 1.309 0 1.103.897 2 2 2s2-.897 2-2c0-.366-.106-.705-.278-1h3.056a1.977 1.977 0 0 0-.278 1c0 1.103.897 2 2 2s2-.897 2-2a2 2 0 0 0-1.944-1.994V15.5H7.75V14h8.783ZM9.25 17.5a1.001 1.001 0 0 1-2 0 1.001 1.001 0 0 1 2 0Zm6.5 0a1.001 1.001 0 0 1-2 0 1.001 1.001 0 0 1 2 0Zm3-10.067v.928L15.967 13H7.75V7.484l11-.05Z' style='fill:%23#{$color}'/%3E%3C/svg%3E",
    menu:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 18 14'%3E%3Cpath fill='%23#{$color}' d='M0 14v-2h18v2H0Zm0-6V6h18v2H0Zm0-6V0h18v2H0Z'/%3E%3C/svg%3E",

    // Detail Icons
    info:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23#{$color}' d='M9 15h2V9H9v6Zm1-8c.283 0 .52-.096.713-.287A.967.967 0 0 0 11 6a.967.967 0 0 0-.287-.713A.968.968 0 0 0 10 5a.968.968 0 0 0-.713.287A.968.968 0 0 0 9 6c0 .283.096.52.287.713.192.191.43.287.713.287Zm0 13a9.738 9.738 0 0 1-3.9-.788 10.099 10.099 0 0 1-3.175-2.137c-.9-.9-1.612-1.958-2.137-3.175A9.738 9.738 0 0 1 0 10c0-1.383.263-2.683.787-3.9a10.099 10.099 0 0 1 2.138-3.175c.9-.9 1.958-1.612 3.175-2.137A9.738 9.738 0 0 1 10 0c1.383 0 2.683.263 3.9.787a10.098 10.098 0 0 1 3.175 2.138c.9.9 1.613 1.958 2.137 3.175A9.738 9.738 0 0 1 20 10a9.738 9.738 0 0 1-.788 3.9 10.098 10.098 0 0 1-2.137 3.175c-.9.9-1.958 1.613-3.175 2.137A9.738 9.738 0 0 1 10 20Zm0-2c2.233 0 4.125-.775 5.675-2.325C17.225 14.125 18 12.233 18 10c0-2.233-.775-4.125-2.325-5.675C14.125 2.775 12.233 2 10 2c-2.233 0-4.125.775-5.675 2.325C2.775 5.875 2 7.767 2 10c0 2.233.775 4.125 2.325 5.675C5.875 17.225 7.767 18 10 18Z'/%3E%3C/svg%3E",
    url:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23#{$color}' stroke='%23#{$color}' d='M17 17H3V3h7V1H3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7ZM12 1v2h3.59l-9.83 9.83 1.41 1.41L17 4.41V8h2V1h-7Z'/%3E%3C/svg%3E",
    parking:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 18'%3E%3Cpath fill='%23#{$color}' d='M7.5 0h-7v18h4v-6h3c3.31 0 6-2.69 6-6s-2.69-6-6-6Zm.2 8H4.5V4h3.2c1.1 0 2 .9 2 2s-.9 2-2 2Z'/%3E%3C/svg%3E",
    help:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23#{$color}' stroke='%23#{$color}' d='M17 13.5v3c0 .55-.45 1-1 1h-1v-4h2Zm-12 0v4H4c-.55 0-1-.45-1-1v-3h2Zm5-13a9 9 0 0 0-9 9v7c0 1.66 1.34 3 3 3h3v-8H3v-2c0-3.87 3.13-7 7-7s7 3.13 7 7v2h-4v8h3c1.66 0 3-1.34 3-3v-7a9 9 0 0 0-9-9Z'/%3E%3C/svg%3E",
    location:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 18 21'%3E%3Cpath fill='%23#{$color}' d='M18 8.303C18 3.26 13.725 0 9 0S0 3.26 0 8.303c0 3.361 2.993 7.35 9 11.947 6.008-4.597 9-8.586 9-11.947Zm-9 1.822c-1.327 0-2.407-.972-2.407-2.167 0-1.195 1.08-2.167 2.407-2.167 1.328 0 2.408.972 2.408 2.167 0 1.195-1.08 2.167-2.408 2.167Z'/%3E%3C/svg%3E",
    home:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 18'%3E%3Cpath fill='%23#{$color}' d='m10 3.19 5 4.5v7.81h-2v-6H7v6H5V7.69l5-4.5ZM10 .5l-10 9h3v8h6v-6h2v6h6v-8h3l-10-9Z'/%3E%3C/svg%3E",
    contact:
      "%3Csvg version='1.1' id='fi_597177' xmlns='http://www.w3.org/2000/svg' fill='%23#{$color}'  x='0px' y='0px' viewBox='0 0 513.64 513.64' style='enable-background:new 0 0 513.64 513.64;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M499.66,376.96l-71.68-71.68c-25.6-25.6-69.12-15.359-79.36,17.92c-7.68,23.041-33.28,35.841-56.32,30.72 c-51.2-12.8-120.32-79.36-133.12-133.12c-7.68-23.041,7.68-48.641,30.72-56.32c33.28-10.24,43.52-53.76,17.92-79.36l-71.68-71.68 c-20.48-17.92-51.2-17.92-69.12,0l-48.64,48.64c-48.64,51.2,5.12,186.88,125.44,307.2c120.32,120.32,256,176.641,307.2,125.44 l48.64-48.64C517.581,425.6,517.581,394.88,499.66,376.96z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E",

    like:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23#{$color}' d='M16.5 2.825c-1.74 0-3.41.81-4.5 2.09-1.09-1.28-2.76-2.09-4.5-2.09-3.08 0-5.5 2.42-5.5 5.5 0 3.78 3.4 6.86 8.55 11.54l1.45 1.31 1.45-1.32c5.15-4.67 8.55-7.75 8.55-11.53 0-3.08-2.42-5.5-5.5-5.5Zm-4.4 15.55-.1.1-.1-.1C7.14 14.065 4 11.215 4 8.325c0-2 1.5-3.5 3.5-3.5 1.54 0 3.04.99 3.57 2.36h1.87c.52-1.37 2.02-2.36 3.56-2.36 2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05Z'/%3E%3C/svg%3E",
    like-full:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23#{$color}' d='m12 21.175-1.45-1.32C5.4 15.185 2 12.105 2 8.325c0-3.08 2.42-5.5 5.5-5.5 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54L12 21.175Z'/%3E%3C/svg%3E",
    share:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 18 20'%3E%3Cpath fill='%23#{$color}' d='M15 20a2.893 2.893 0 0 1-2.125-.875A2.893 2.893 0 0 1 12 17c0-.117.008-.238.025-.363s.042-.237.075-.337l-7.05-4.1c-.283.25-.6.446-.95.587-.35.142-.717.213-1.1.213a2.893 2.893 0 0 1-2.125-.875A2.893 2.893 0 0 1 0 10c0-.833.292-1.542.875-2.125A2.893 2.893 0 0 1 3 7c.383 0 .75.07 1.1.212.35.142.667.338.95.588l7.05-4.1a1.843 1.843 0 0 1-.075-.338A2.738 2.738 0 0 1 12 3c0-.833.292-1.542.875-2.125A2.893 2.893 0 0 1 15 0c.833 0 1.542.292 2.125.875S18 2.167 18 3s-.292 1.542-.875 2.125A2.893 2.893 0 0 1 15 6c-.383 0-.75-.071-1.1-.213a3.293 3.293 0 0 1-.95-.587L5.9 9.3c.033.1.058.212.075.337a2.743 2.743 0 0 1 0 .725 1.838 1.838 0 0 1-.075.338l7.05 4.1c.283-.25.6-.446.95-.588.35-.141.717-.212 1.1-.212.833 0 1.542.291 2.125.875.583.583.875 1.291.875 2.125 0 .833-.292 1.541-.875 2.125A2.893 2.893 0 0 1 15 20Zm0-16c.283 0 .52-.096.713-.288A.967.967 0 0 0 16 3a.967.967 0 0 0-.287-.713A.968.968 0 0 0 15 2a.968.968 0 0 0-.713.287A.967.967 0 0 0 14 3c0 .283.096.52.287.712.192.192.43.288.713.288ZM3 11c.283 0 .52-.096.712-.288A.968.968 0 0 0 4 10a.968.968 0 0 0-.288-.713A.968.968 0 0 0 3 9a.968.968 0 0 0-.712.287A.968.968 0 0 0 2 10c0 .283.096.52.288.712.191.192.429.288.712.288Zm12 7c.283 0 .52-.096.713-.288A.968.968 0 0 0 16 17a.967.967 0 0 0-.287-.713A.968.968 0 0 0 15 16a.968.968 0 0 0-.713.287A.967.967 0 0 0 14 17c0 .283.096.52.287.712.192.192.43.288.713.288Z'/%3E%3C/svg%3E",

    menu_home:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23#{$color}' d='M21 20a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.489a1 1 0 0 1 .386-.79l8-6.222a1 1 0 0 1 1.228 0l8 6.222a1 1 0 0 1 .386.79v10.51Zm-2-1V9.978l-7-5.445l-7 5.445V19h14Z'/%3E%3C/svg%3E",
    menu_search:
      "%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24'%3E%3Cpath fill='%23#{$color}'  d='M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396l1.414-1.414l-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8s3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6s-6-2.691-6-6s2.691-6 6-6z'/%3E%3C/svg%3E",
    menu_like:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23#{$color}' fill-rule='evenodd' d='M4.686 3.687c-1.382.631-2.395 2.135-2.395 3.927 0 1.831.75 3.243 1.823 4.453.886.996 1.958 1.823 3.003 2.628.248.192.495.383.737.573.439.346.83.649 1.207.87.377.22.68.32.938.32.259 0 .562-.1.939-.32.377-.221.768-.524 1.206-.87.242-.191.49-.381.738-.573 1.045-.805 2.117-1.632 3.002-2.628 1.075-1.21 1.824-2.622 1.824-4.453 0-1.792-1.013-3.296-2.395-3.927-1.229-.561-2.842-.474-4.42.906l1.215 1.215a.625.625 0 1 1-.884.884L9.558 5.027l-.009-.009C7.834 3.235 6.03 3.072 4.686 3.687Zm5.313.03C8.073 1.992 5.915 1.75 4.166 2.549c-1.845.846-3.125 2.806-3.125 5.066 0 2.22.925 3.916 2.14 5.283.97 1.094 2.16 2.01 3.21 2.818.24.183.47.362.69.535.427.336.885.695 1.35.966.463.271.993.492 1.568.492.575 0 1.105-.22 1.57-.491.464-.272.922-.63 1.35-.967.228-.18.457-.358.688-.535 1.05-.808 2.24-1.725 3.212-2.818 1.214-1.367 2.139-3.062 2.139-5.283 0-2.26-1.28-4.22-3.125-5.064-1.75-.8-3.907-.559-5.834 1.166Z' clip-rule='evenodd'/%3E%3C/svg%3E",
    menu_my:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z'/%3E%3Cpath  fill='%23#{$color}' d='M16 14a5 5 0 0 1 4.995 4.783L21 19v1a2 2 0 0 1-1.85 1.995L19 22H5a2 2 0 0 1-1.995-1.85L3 20v-1a5 5 0 0 1 4.783-4.995L8 14h8Zm0 2H8a3 3 0 0 0-2.995 2.824L5 19v1h14v-1a3 3 0 0 0-2.824-2.995L16 16ZM12 2a5 5 0 1 1 0 10a5 5 0 0 1 0-10Zm0 2a3 3 0 1 0 0 6a3 3 0 0 0 0-6Z'/%3E%3C/g%3E%3C/svg%3E",

    menu_home_active:
      "%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24'%3E%3Cpath fill='%23#{$color}' d='M21 20a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.489a1 1 0 0 1 .386-.79l8-6.222a1 1 0 0 1 1.228 0l8 6.222a1 1 0 0 1 .386.79v10.51Z'/%3E%3C/svg%3E",
    menu_search_active:
      "%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24'%3E%3Cpath fill='%23#{$color}' d='M10 2c-4.411 0-8 3.589-8 8s3.589 8 8 8a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396l1.414-1.414l-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8z'/%3E%3C/svg%3E",
    menu_like_active:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Cpath fill='%23#{$color}' d='M4.053 9.124C2.649 8.042 1 6.77 1 4.569 1 2.137 3.75.413 6 2.75l1 .999a.375.375 0 0 0 .53-.53l-.965-.967C8.685.702 11 2.338 11 4.569c0 2.202-1.649 3.473-3.053 4.555-.146.112-.29.222-.428.332C7 9.865 6.5 10.25 6 10.25s-1-.385-1.519-.795c-.138-.109-.282-.219-.428-.331Z'/%3E%3C/svg%3E",
    menu_my_active:
      "%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24 '%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z'/%3E%3Cpath fill='%23#{$color}' d='M16 14a5 5 0 0 1 4.995 4.783L21 19v1a2 2 0 0 1-1.85 1.995L19 22H5a2 2 0 0 1-1.995-1.85L3 20v-1a5 5 0 0 1 4.783-4.995L8 14h8ZM12 2a5 5 0 1 1 0 10a5 5 0 0 1 0-10Z'/%3E%3C/g%3E%3C/svg%3E",
    menu_booking:
      "%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24'%3E%3Cpath fill='%23#{$color}' d='M9 1v2h6V1h2v2h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2Zm11 10H4v8h16v-8ZM7 5H4v4h16V5h-3v2h-2V5H9v2H7V5Z'/%3E%3C/svg%3E",
    menu_booking_active:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23#{$color}' d='M2 11h20v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-9Zm15-8h4a1 1 0 0 1 1 1v5H2V4a1 1 0 0 1 1-1h4V1h2v2h6V1h2v2Z'/%3E%3C/svg%3E",
  );
  $icon: map-get($iconList, $iconName);
  @return url('data:image/svg+xml, #{$icon}');
}

$color: 'fdfdfd';
$active: '344235';

.icons {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &.search {
    background-image: icon(search, $color);

    &.active {
      background-image: icon(search, $active);
    }
  }

  &.svg-loading {
    background-image: icon(loading, $color);

    &.active {
      background-image: icon(loading, $active);
    }

    &.fallback {
      background-image: icon(loading, '344235');
    }
  }

  &.user {
    background-image: icon(user, $color);

    &.active {
      background-image: icon(user, $active);
    }
  }

  &.cart {
    background-image: icon(cart, $color);

    &.empty {
      background-image: icon(cart, '00000033');
    }
    &.active {
      background-image: icon(cart, $active);
    }
  }

  &.menu {
    background-image: icon(menu, $color);

    &.active {
      background-image: icon(menu, $active);
    }
  }

  &.info {
    background-image: icon(info, '344235');
  }
  &.url {
    background-image: icon(url, '344235');
  }
  &.parking {
    background-image: icon(parking, '344235');
  }
  &.help {
    background-image: icon(help, '344235');
  }
  &.location {
    background-image: icon(location, '344235');
  }
  &.home {
    background-image: icon(home, '344235');
  }

  &.contact {
    background-image: icon(contact, '344235');
  }

  &.like {
    background-image: icon(like, '344235');
  }

  &.like-full {
    background-image: icon(like-full, '344235');
  }

  &.share {
    background-image: icon(share, '344235');
  }

  &.menu_home {
    background-image: icon(menu_home, '232323');

    &.active {
      background-image: icon(menu_home_active, $active);
    }
  }
  &.menu_search {
    background-image: icon(menu_search, '344235');

    &.active {
      background-image: icon(menu_search_active, $active);
    }
  }
  &.menu_like {
    background-image: icon(menu_like, '344235');

    &.active {
      background-image: icon(menu_like_active, $active);
    }
  }
  &.menu_my {
    background-image: icon(menu_my, '344235');

    &.active {
      background-image: icon(menu_my_active, $active);
    }
  }
  &.menu_booking {
    background-image: icon(menu_booking, '344235');

    &.active {
      background-image: icon(menu_booking_active, $active);
    }
  }
}
