@function icon($iconName, $color) {
  $iconList: (
    loading:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0' rx='3' ry='3' transform='rotate(-90 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.08333333333333333' rx='3' ry='3' transform='rotate(-60 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.16666666666666666' rx='3' ry='3' transform='rotate(-30 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.25' rx='3' ry='3' transform='rotate(0 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.3333333333333333' rx='3' ry='3' transform='rotate(30 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.4166666666666667' rx='3' ry='3' transform='rotate(60 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.5' rx='3' ry='3' transform='rotate(90 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.5833333333333334' rx='3' ry='3' transform='rotate(120 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.6666666666666666' rx='3' ry='3' transform='rotate(150 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.75' rx='3' ry='3' transform='rotate(180 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.8333333333333334' rx='3' ry='3' transform='rotate(210 50 50)'/%3E%3Crect width='25' height='6' x='72' y='47' fill='%23#{$color}' opacity='0.9166666666666666' rx='3' ry='3' transform='rotate(240 50 50)'/%3E%3C/svg%3E",
    search:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 165 178'%3E%3Cdefs%3E%3Cstyle%3E .b%7Bfill:none;stroke:%23#{$color};stroke-linecap:round;stroke-linejoin:round;stroke-width:10px%7D %3C/style%3E%3C/defs%3E%3Ccircle class='b' cx='74' cy='80.5' r='61.5'/%3E%3Cline class='b' x1='117.5' y1='124' x2='152.5' y2='159'/%3E%3C/svg%3E",
    user:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 22 22'%3E%3Cpath fill='%23#{$color}' d='M11 2.867a2.8 2.8 0 1 1 .001 5.6 2.8 2.8 0 0 1 0-5.6Zm0 12c3.96 0 8.134 1.946 8.134 2.8v1.466H2.867v-1.466c0-.854 4.174-2.8 8.134-2.8ZM11 .333a5.332 5.332 0 0 0-5.333 5.334A5.332 5.332 0 0 0 11.001 11a5.332 5.332 0 0 0 5.333-5.333A5.332 5.332 0 0 0 11.001.333Zm0 12C7.44 12.333.335 14.12.335 17.667v4h21.333v-4c0-3.547-7.106-5.334-10.666-5.334Z'/%3E%3C/svg%3E",
    cart:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='m16.533 14 3.217-5.361v-2.21l-12 .055V4.5h-3.5v1h2.5v10.691c-.307.352-.5.806-.5 1.309 0 1.103.897 2 2 2s2-.897 2-2c0-.366-.106-.705-.278-1h3.056a1.977 1.977 0 0 0-.278 1c0 1.103.897 2 2 2s2-.897 2-2a2 2 0 0 0-1.944-1.994V15.5H7.75V14h8.783ZM9.25 17.5a1.001 1.001 0 0 1-2 0 1.001 1.001 0 0 1 2 0Zm6.5 0a1.001 1.001 0 0 1-2 0 1.001 1.001 0 0 1 2 0Zm3-10.067v.928L15.967 13H7.75V7.484l11-.05Z' style='fill:%23#{$color}'/%3E%3C/svg%3E",
    menu:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 18 14'%3E%3Cpath fill='%23#{$color}' d='M0 14v-2h18v2H0Zm0-6V6h18v2H0Zm0-6V0h18v2H0Z'/%3E%3C/svg%3E",

    // Detail Icons
    info:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23#{$color}' d='M9 15h2V9H9v6Zm1-8c.283 0 .52-.096.713-.287A.967.967 0 0 0 11 6a.967.967 0 0 0-.287-.713A.968.968 0 0 0 10 5a.968.968 0 0 0-.713.287A.968.968 0 0 0 9 6c0 .283.096.52.287.713.192.191.43.287.713.287Zm0 13a9.738 9.738 0 0 1-3.9-.788 10.099 10.099 0 0 1-3.175-2.137c-.9-.9-1.612-1.958-2.137-3.175A9.738 9.738 0 0 1 0 10c0-1.383.263-2.683.787-3.9a10.099 10.099 0 0 1 2.138-3.175c.9-.9 1.958-1.612 3.175-2.137A9.738 9.738 0 0 1 10 0c1.383 0 2.683.263 3.9.787a10.098 10.098 0 0 1 3.175 2.138c.9.9 1.613 1.958 2.137 3.175A9.738 9.738 0 0 1 20 10a9.738 9.738 0 0 1-.788 3.9 10.098 10.098 0 0 1-2.137 3.175c-.9.9-1.958 1.613-3.175 2.137A9.738 9.738 0 0 1 10 20Zm0-2c2.233 0 4.125-.775 5.675-2.325C17.225 14.125 18 12.233 18 10c0-2.233-.775-4.125-2.325-5.675C14.125 2.775 12.233 2 10 2c-2.233 0-4.125.775-5.675 2.325C2.775 5.875 2 7.767 2 10c0 2.233.775 4.125 2.325 5.675C5.875 17.225 7.767 18 10 18Z'/%3E%3C/svg%3E",
    url:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23#{$color}' stroke='%23#{$color}' d='M17 17H3V3h7V1H3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2v7ZM12 1v2h3.59l-9.83 9.83 1.41 1.41L17 4.41V8h2V1h-7Z'/%3E%3C/svg%3E",
    parking:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 18'%3E%3Cpath fill='%23#{$color}' d='M7.5 0h-7v18h4v-6h3c3.31 0 6-2.69 6-6s-2.69-6-6-6Zm.2 8H4.5V4h3.2c1.1 0 2 .9 2 2s-.9 2-2 2Z'/%3E%3C/svg%3E",
    help:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23#{$color}' stroke='%23#{$color}' d='M17 13.5v3c0 .55-.45 1-1 1h-1v-4h2Zm-12 0v4H4c-.55 0-1-.45-1-1v-3h2Zm5-13a9 9 0 0 0-9 9v7c0 1.66 1.34 3 3 3h3v-8H3v-2c0-3.87 3.13-7 7-7s7 3.13 7 7v2h-4v8h3c1.66 0 3-1.34 3-3v-7a9 9 0 0 0-9-9Z'/%3E%3C/svg%3E",
    location:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 18 21'%3E%3Cpath fill='%23#{$color}' d='M18 8.303C18 3.26 13.725 0 9 0S0 3.26 0 8.303c0 3.361 2.993 7.35 9 11.947 6.008-4.597 9-8.586 9-11.947Zm-9 1.822c-1.327 0-2.407-.972-2.407-2.167 0-1.195 1.08-2.167 2.407-2.167 1.328 0 2.408.972 2.408 2.167 0 1.195-1.08 2.167-2.408 2.167Z'/%3E%3C/svg%3E",
    home:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 18'%3E%3Cpath fill='%23#{$color}' d='m10 3.19 5 4.5v7.81h-2v-6H7v6H5V7.69l5-4.5ZM10 .5l-10 9h3v8h6v-6h2v6h6v-8h3l-10-9Z'/%3E%3C/svg%3E",
    contact:
      "%3Csvg version='1.1' id='fi_597177' xmlns='http://www.w3.org/2000/svg' fill='%23#{$color}'  x='0px' y='0px' viewBox='0 0 513.64 513.64' style='enable-background:new 0 0 513.64 513.64;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M499.66,376.96l-71.68-71.68c-25.6-25.6-69.12-15.359-79.36,17.92c-7.68,23.041-33.28,35.841-56.32,30.72 c-51.2-12.8-120.32-79.36-133.12-133.12c-7.68-23.041,7.68-48.641,30.72-56.32c33.28-10.24,43.52-53.76,17.92-79.36l-71.68-71.68 c-20.48-17.92-51.2-17.92-69.12,0l-48.64,48.64c-48.64,51.2,5.12,186.88,125.44,307.2c120.32,120.32,256,176.641,307.2,125.44 l48.64-48.64C517.581,425.6,517.581,394.88,499.66,376.96z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E",

    like:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23#{$color}' d='M16.5 2.825c-1.74 0-3.41.81-4.5 2.09-1.09-1.28-2.76-2.09-4.5-2.09-3.08 0-5.5 2.42-5.5 5.5 0 3.78 3.4 6.86 8.55 11.54l1.45 1.31 1.45-1.32c5.15-4.67 8.55-7.75 8.55-11.53 0-3.08-2.42-5.5-5.5-5.5Zm-4.4 15.55-.1.1-.1-.1C7.14 14.065 4 11.215 4 8.325c0-2 1.5-3.5 3.5-3.5 1.54 0 3.04.99 3.57 2.36h1.87c.52-1.37 2.02-2.36 3.56-2.36 2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05Z'/%3E%3C/svg%3E",
    like-full:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23#{$color}' d='m12 21.175-1.45-1.32C5.4 15.185 2 12.105 2 8.325c0-3.08 2.42-5.5 5.5-5.5 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54L12 21.175Z'/%3E%3C/svg%3E",
    share:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 18 20'%3E%3Cpath fill='%23#{$color}' d='M15 20a2.893 2.893 0 0 1-2.125-.875A2.893 2.893 0 0 1 12 17c0-.117.008-.238.025-.363s.042-.237.075-.337l-7.05-4.1c-.283.25-.6.446-.95.587-.35.142-.717.213-1.1.213a2.893 2.893 0 0 1-2.125-.875A2.893 2.893 0 0 1 0 10c0-.833.292-1.542.875-2.125A2.893 2.893 0 0 1 3 7c.383 0 .75.07 1.1.212.35.142.667.338.95.588l7.05-4.1a1.843 1.843 0 0 1-.075-.338A2.738 2.738 0 0 1 12 3c0-.833.292-1.542.875-2.125A2.893 2.893 0 0 1 15 0c.833 0 1.542.292 2.125.875S18 2.167 18 3s-.292 1.542-.875 2.125A2.893 2.893 0 0 1 15 6c-.383 0-.75-.071-1.1-.213a3.293 3.293 0 0 1-.95-.587L5.9 9.3c.033.1.058.212.075.337a2.743 2.743 0 0 1 0 .725 1.838 1.838 0 0 1-.075.338l7.05 4.1c.283-.25.6-.446.95-.588.35-.141.717-.212 1.1-.212.833 0 1.542.291 2.125.875.583.583.875 1.291.875 2.125 0 .833-.292 1.541-.875 2.125A2.893 2.893 0 0 1 15 20Zm0-16c.283 0 .52-.096.713-.288A.967.967 0 0 0 16 3a.967.967 0 0 0-.287-.713A.968.968 0 0 0 15 2a.968.968 0 0 0-.713.287A.967.967 0 0 0 14 3c0 .283.096.52.287.712.192.192.43.288.713.288ZM3 11c.283 0 .52-.096.712-.288A.968.968 0 0 0 4 10a.968.968 0 0 0-.288-.713A.968.968 0 0 0 3 9a.968.968 0 0 0-.712.287A.968.968 0 0 0 2 10c0 .283.096.52.288.712.191.192.429.288.712.288Zm12 7c.283 0 .52-.096.713-.288A.968.968 0 0 0 16 17a.967.967 0 0 0-.287-.713A.968.968 0 0 0 15 16a.968.968 0 0 0-.713.287A.967.967 0 0 0 14 17c0 .283.096.52.287.712.192.192.43.288.713.288Z'/%3E%3C/svg%3E",

    menu_home:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Cg fill='%23#{$color}'%3E%3Cpath d='M5.625 9a.375.375 0 0 0 .75 0V7.5a.375.375 0 1 0-.75 0V9Z'/%3E%3Cpath fill-rule='evenodd' d='M6 .625c-.354 0-.676.102-1.025.271-.337.164-.727.406-1.213.708l-1.034.641c-.46.286-.83.515-1.114.733-.294.225-.52.455-.684.753-.163.298-.236.615-.271.99-.034.362-.034.806-.034 1.362v.807c0 .952 0 1.704.077 2.291.078.603.243 1.089.615 1.474.373.386.848.559 1.437.64.57.08 1.299.08 2.217.08h2.058c.918 0 1.647 0 2.217-.08.588-.081 1.064-.254 1.438-.64.372-.385.537-.871.615-1.474.076-.587.076-1.339.076-2.291v-.806c0-.557 0-1-.034-1.363-.035-.375-.108-.692-.271-.99-.164-.298-.39-.527-.684-.753-.284-.218-.653-.447-1.114-.733l-1.034-.641c-.486-.302-.876-.544-1.213-.708C6.675.726 6.354.625 6 .625ZM4.14 2.252c.508-.315.865-.536 1.163-.681.291-.142.497-.196.697-.196.2 0 .406.054.697.196.298.145.655.366 1.163.681l1 .62c.48.299.818.509 1.07.702.245.187.385.342.482.518.096.176.152.383.182.699.03.323.031.732.031 1.311v.76c0 .986-.001 1.688-.07 2.222-.068.524-.197.828-.41 1.05-.213.219-.502.35-1.002.419-.513.071-1.19.072-2.143.072H5c-.954 0-1.63-.001-2.143-.072-.5-.07-.79-.2-1.002-.42-.214-.221-.342-.525-.41-1.049-.07-.534-.07-1.236-.07-2.221v-.761c0-.579 0-.988.031-1.312.03-.316.086-.522.183-.699.096-.175.236-.33.482-.518.251-.192.588-.402 1.069-.7l1-.621Z' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E",
    menu_search:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23#{$color}' fill-rule='evenodd' d='M5.75 1.375a4.375 4.375 0 1 0 0 8.75 4.375 4.375 0 0 0 0-8.75ZM.625 5.75a5.126 5.126 0 1 1 10.251.001A5.126 5.126 0 0 1 .625 5.75Zm9.11 3.985a.375.375 0 0 1 .53 0l1 1a.375.375 0 1 1-.53.53l-1-1a.375.375 0 0 1 0-.53Z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h12v12H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E",
    menu_like:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23#{$color}' fill-rule='evenodd' d='M4.686 3.687c-1.382.631-2.395 2.135-2.395 3.927 0 1.831.75 3.243 1.823 4.453.886.996 1.958 1.823 3.003 2.628.248.192.495.383.737.573.439.346.83.649 1.207.87.377.22.68.32.938.32.259 0 .562-.1.939-.32.377-.221.768-.524 1.206-.87.242-.191.49-.381.738-.573 1.045-.805 2.117-1.632 3.002-2.628 1.075-1.21 1.824-2.622 1.824-4.453 0-1.792-1.013-3.296-2.395-3.927-1.229-.561-2.842-.474-4.42.906l1.215 1.215a.625.625 0 1 1-.884.884L9.558 5.027l-.009-.009C7.834 3.235 6.03 3.072 4.686 3.687Zm5.313.03C8.073 1.992 5.915 1.75 4.166 2.549c-1.845.846-3.125 2.806-3.125 5.066 0 2.22.925 3.916 2.14 5.283.97 1.094 2.16 2.01 3.21 2.818.24.183.47.362.69.535.427.336.885.695 1.35.966.463.271.993.492 1.568.492.575 0 1.105-.22 1.57-.491.464-.272.922-.63 1.35-.967.228-.18.457-.358.688-.535 1.05-.808 2.24-1.725 3.212-2.818 1.214-1.367 2.139-3.062 2.139-5.283 0-2.26-1.28-4.22-3.125-5.064-1.75-.8-3.907-.559-5.834 1.166Z' clip-rule='evenodd'/%3E%3C/svg%3E",
    menu_my:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Cpath fill='%23#{$color}' fill-rule='evenodd' d='M6 .625a2.375 2.375 0 1 0 0 4.75 2.375 2.375 0 0 0 0-4.75ZM4.375 3a1.625 1.625 0 1 1 3.25 0 1.625 1.625 0 0 1-3.25 0ZM6 6.125c-1.156 0-2.222.263-3.012.707-.778.438-1.363 1.101-1.363 1.918v.051c0 .581-.001 1.31.639 1.831.314.256.755.438 1.35.559.596.12 1.373.184 2.386.184 1.013 0 1.79-.063 2.387-.184.595-.12 1.035-.303 1.35-.559.64-.521.639-1.25.638-1.831V8.75c0-.817-.585-1.48-1.362-1.918-.79-.444-1.856-.707-3.013-.707ZM2.375 8.75c0-.425.311-.888.98-1.264.659-.37 1.593-.611 2.646-.611 1.052 0 1.986.241 2.644.611.67.377.98.839.98 1.264 0 .654-.02 1.022-.362 1.3-.185.151-.495.298-1.025.405-.528.107-1.251.17-2.238.17-.987 0-1.71-.063-2.238-.17-.53-.107-.84-.254-1.025-.405-.342-.278-.362-.646-.362-1.3Z' clip-rule='evenodd'/%3E%3C/svg%3E",

    menu_home_active:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Cpath fill='%23#{$color}' fill-rule='evenodd' d='M1.26 3.912C1 4.385 1 4.957 1 6.101v.76c0 1.95 0 2.926.586 3.532C2.171 11 3.114 11 5 11h2c1.886 0 2.829 0 3.414-.606C11 9.788 11 8.813 11 6.862v-.76c0-1.145 0-1.716-.26-2.19-.259-.475-.733-.769-1.682-1.358l-1-.62C7.056 1.31 6.554 1 6 1c-.554 0-1.055.311-2.058.933l-1 .621c-.949.589-1.423.883-1.682 1.358ZM5.625 9a.375.375 0 0 0 .75 0V7.5a.375.375 0 1 0-.75 0V9Z' clip-rule='evenodd'/%3E%3C/svg%3E",
    menu_search_active:
      "%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 12' style='enable-background:new 0 0 12 12;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_00000175290040626056925860000006552723353456680323_);%7D .st1%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23#{$color};%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' width='12' height='12'/%3E%3C/defs%3E%3CclipPath id='SVGID_00000040543451966802649520000002946663999618018946_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg style='clip-path:url(%23SVGID_00000040543451966802649520000002946663999618018946_);'%3E%3Cpath class='st1' d='M11.4,10.9l-0.1-0.1l-1-1c-0.1-0.1-0.2-0.1-0.3-0.1s-0.2,0-0.3,0.1c0,0-0.1,0.1-0.1,0.2s0,0.2,0.1,0.3l1,1 l0.1,0.1h0.1c0.1,0,0.1,0,0.1,0s0.1,0,0.1-0.1l0.1-0.1v-0.1C11.4,11,11.4,10.9,11.4,10.9z'/%3E%3Ccircle class='st1' cx='5.8' cy='5.8' r='5.1'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E",
    menu_like_active:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Cpath fill='%23#{$color}' d='M4.053 9.124C2.649 8.042 1 6.77 1 4.569 1 2.137 3.75.413 6 2.75l1 .999a.375.375 0 0 0 .53-.53l-.965-.967C8.685.702 11 2.338 11 4.569c0 2.202-1.649 3.473-3.053 4.555-.146.112-.29.222-.428.332C7 9.865 6.5 10.25 6 10.25s-1-.385-1.519-.795c-.138-.109-.282-.219-.428-.331Z'/%3E%3C/svg%3E",
    menu_my_active:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 10'%3E%3Cg fill='%23#{$color}'%3E%3Cpath d='M4 4a2 2 0 1 0 0-4 2 2 0 0 0 0 4ZM8 7.75C8 8.992 8 10 4 10S0 8.992 0 7.75 1.791 5.5 4 5.5s4 1.008 4 2.25Z'/%3E%3C/g%3E%3C/svg%3E",
    menu_ticket:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' width='512' height='512' x='0' y='0' viewBox='0 0 24 24' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath fill='%23ffffff' d='M19.7 3.43c-.14-.4-.51-.68-.95-.68-.12 0-.24.02-.35.06L2.5 8.75h19z' opacity='1' data-original='%2390a4ae' class=''%3E%3C/path%3E%3Cpath fill='%23ffffff' d='M22.75 12.5h.5v-1.75c0-1.1-.9-2-2-2H2.75c-1.1 0-2 .9-2 2v1.75h.5c.69 0 1.31.28 1.77.73a2.5 2.5 0 0 1-1.77 4.27h-.5v1.75c0 1.1.9 2 2 2h18.5c1.1 0 2-.9 2-2V17.5h-.5c-.69 0-1.31-.28-1.77-.73a2.5 2.5 0 0 1 1.77-4.27z' opacity='1' data-original='%23cfd8dc' class=''%3E%3C/path%3E%3Cpath d='M21.25 22H2.75A2.752 2.752 0 0 1 0 19.25V17.5a.75.75 0 0 1 .75-.75h.5C2.215 16.75 3 15.965 3 15s-.785-1.75-1.75-1.75h-.5A.75.75 0 0 1 0 12.5v-1.75A2.752 2.752 0 0 1 2.75 8h18.5A2.752 2.752 0 0 1 24 10.75v1.75a.75.75 0 0 1-.75.75h-.5c-.965 0-1.75.785-1.75 1.75 0 .467.182.907.513 1.237s.77.512 1.236.512h.5a.75.75 0 0 1 .75.75v1.75A2.751 2.751 0 0 1 21.25 22zM1.5 18.241v1.009c0 .689.561 1.25 1.25 1.25h18.5c.689 0 1.25-.561 1.25-1.25v-1.01a3.228 3.228 0 0 1-2.048-.942A3.228 3.228 0 0 1 19.5 15a3.255 3.255 0 0 1 3-3.241V10.75c0-.689-.561-1.25-1.25-1.25H2.75c-.689 0-1.25.561-1.25 1.25v1.009c1.676.128 3 1.533 3 3.241s-1.324 3.112-3 3.241z' fill='%23#{$color}' opacity='1' data-original='%23000000' class=''%3E%3C/path%3E%3Cpath d='M8.75 10.75A.75.75 0 0 1 8 10V9a.75.75 0 0 1 1.5 0v1a.75.75 0 0 1-.75.75zM8.75 17a.75.75 0 0 1-.75-.75v-2.5a.75.75 0 0 1 1.5 0v2.5a.75.75 0 0 1-.75.75zM8.75 21.75A.75.75 0 0 1 8 21v-1a.75.75 0 0 1 1.5 0v1a.75.75 0 0 1-.75.75z' fill='%234d4242' opacity='1' data-original='%23000000' class=''%3E%3C/path%3E%3Cpath d='M2.5 9.5a.75.75 0 0 1-.263-1.453l15.9-5.937c.902-.335 1.961.168 2.27 1.078l1.803 5.321a.75.75 0 0 1-1.421.481l-1.803-5.321a.248.248 0 0 0-.236-.169L2.762 9.453A.751.751 0 0 1 2.5 9.5z' fill='%234d4242' opacity='1' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/svg%3E",
    menu_ticket_active:
      "%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' width='512' height='512' x='0' y='0' viewBox='0 0 24 24' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath fill='%23#{$color}' d='M21.5 9.5h-19a.75.75 0 0 1-.262-1.453l15.9-5.937c.899-.334 1.963.169 2.27 1.078l1.803 5.321a.75.75 0 0 1-.711.991z' opacity='1' data-original='%2390a4ae' class=''%3E%3C/path%3E%3Cpath fill='%23#{$color}' d='M21.25 22H2.75A2.752 2.752 0 0 1 0 19.25v-1a.75.75 0 0 1 .627-.74l.287-.048A2.487 2.487 0 0 0 3 15.001a2.488 2.488 0 0 0-2.086-2.463l-.287-.048A.75.75 0 0 1 0 11.75v-1A2.752 2.752 0 0 1 2.75 8h18.5A2.752 2.752 0 0 1 24 10.75v1a.75.75 0 0 1-.627.74l-.287.048A2.487 2.487 0 0 0 21 15c0 1.225.877 2.261 2.086 2.462l.287.048a.75.75 0 0 1 .627.739v1A2.752 2.752 0 0 1 21.25 22z' opacity='1' data-original='%23cfd8dc' class=''%3E%3C/path%3E%3Cg fill='%23#{$color}'%3E%3Cpath d='M9 11a1 1 0 0 1-1-1V9a1 1 0 1 1 2 0v1a1 1 0 0 1-1 1zM9 17.25a1 1 0 0 1-1-1v-2.5a1 1 0 1 1 2 0v2.5a1 1 0 0 1-1 1zM9 22a1 1 0 0 1-1-1v-1a1 1 0 1 1 2 0v1a1 1 0 0 1-1 1z' fill='%23ffffff' opacity='1' data-original='%2300bcd4' class=''%3E%3C/path%3E%3C/g%3E%3Cpath fill='%23#{$color}' d='M9 22a1 1 0 0 1-1-1v-1a1 1 0 1 1 2 0v1a1 1 0 0 1-1 1zm12-7H10v1.25a1 1 0 1 1-2 0V15H3v.001a2.488 2.488 0 0 1-2.086 2.462l-.287.047a.75.75 0 0 0-.627.74v1A2.752 2.752 0 0 0 2.75 22h18.5A2.752 2.752 0 0 0 24 19.25v-1a.75.75 0 0 0-.627-.74l-.287-.048A2.488 2.488 0 0 1 21 15z' opacity='1' data-original='%23b4bcc0' class=''%3E%3C/path%3E%3Cpath fill='%23ffffff' d='M10 15H8v1.25a1 1 0 1 0 2 0zM9 19a1 1 0 0 0-1 1v1a1 1 0 1 0 2 0v-1a1 1 0 0 0-1-1z' opacity='1' data-original='%2300a4b9' class=''%3E%3C/path%3E%3C/g%3E%3C/svg%3E",
  );
  $icon: map-get($iconList, $iconName);
  @return url('data:image/svg+xml, #{$icon}');
}

$color: 'fdfdfd';
$active: '344235';

.icons {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &.search {
    background-image: icon(search, $color);

    &.active {
      background-image: icon(search, $active);
    }
  }

  &.svg-loading {
    background-image: icon(loading, $color);

    &.active {
      background-image: icon(loading, $active);
    }

    &.fallback {
      background-image: icon(loading, '344235');
    }
  }

  &.user {
    background-image: icon(user, $color);

    &.active {
      background-image: icon(user, $active);
    }
  }

  &.cart {
    background-image: icon(cart, $color);

    &.empty {
      background-image: icon(cart, '00000033');
    }
    &.active {
      background-image: icon(cart, $active);
    }
  }

  &.menu {
    background-image: icon(menu, $color);

    &.active {
      background-image: icon(menu, $active);
    }
  }

  &.info {
    background-image: icon(info, '344235');
  }
  &.url {
    background-image: icon(url, '344235');
  }
  &.parking {
    background-image: icon(parking, '344235');
  }
  &.help {
    background-image: icon(help, '344235');
  }
  &.location {
    background-image: icon(location, '344235');
  }
  &.home {
    background-image: icon(home, '344235');
  }

  &.contact {
    background-image: icon(contact, '344235');
  }

  &.like {
    background-image: icon(like, '344235');
  }

  &.like-full {
    background-image: icon(like-full, '344235');
  }

  &.share {
    background-image: icon(share, '344235');
  }

  &.menu_home {
    background-image: icon(menu_home, '232323');

    &.active {
      background-image: icon(menu_home_active, $active);
    }
  }
  &.menu_search {
    background-image: icon(menu_search, '344235');

    &.active {
      background-image: icon(menu_search_active, $active);
    }
  }
  &.menu_like {
    background-image: icon(menu_like, '344235');

    &.active {
      background-image: icon(menu_like_active, $active);
    }
  }
  &.menu_my {
    background-image: icon(menu_my, '344235');

    &.active {
      background-image: icon(menu_my_active, $active);
    }
  }
  &.menu_ticket {
    background-image: icon(menu_ticket, '344235');

    &.active {
      background-image: icon(menu_ticket_active, $active);
    }
  }
}
