.obud-map {
  position: relative;
  height: 100%;
}

.obud-current-marker {
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 1);
}

.obud-current-marker::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: #ff0000;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  content: '';
}

.obud-current-marker {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 1px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 1px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 1px 0 0 rgba(0, 0, 0, 0.2);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  animation-duration: 1s;
  animation-name: lighting;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-fill-mode: none;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: lighting;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  -webkit-animation-fill-mode: none;
  -moz-animation-duration: 1s;
  -moz-animation-name: lighting;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 0s;
  -moz-animation-fill-mode: none;
  -ms-animation-duration: 1s;
  -ms-animation-name: lighting;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 0s;
  -ms-animation-fill-mode: none;
}

@keyframes lighting {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
  }
  50% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
  }
}

.obud-marker {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}

.obud-marker-title {
  border-radius: 10px;
  padding: 4px;
  font-size: 11px;
  font-weight: 700;
  background-color: #ffffff;
}

.obud-research {
  position: absolute;
  display: flex;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 28px;
  gap: 6px;
  width: 134px;
  height: 33px;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  z-index: 40;
  left: 50%;
  top: 18px;
  color: #009ef7;
  font-size: 13px;
}
